@font-face {
    font-family: 'Almendra';
    src: url('/fonts/Almendra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almendra';
    src: url('/fonts/Almendra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 800;
    font-style: italic;
    font-display: swap;
}

:root {
	--bg: #00141c;
	--fg: #013044;
	--prim: #ffc735;
	--text: #ffffff;

	background: var(--bg);
	color: var(--text);
	font-family: 'EB Garamond', Arial;
}

#root {
	margin: 0 auto;
	max-width: 100%;
	min-height: 100svh;
	width: min(1126px, 100%);

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;

	background: var(--fg);
	border-inline: 2px solid var(--prim);
}

body {
	margin: 0;
}

@media (max-width: 600px) {
    #root {
        border-inline: none;
    }
}