@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-Bold.eot');
    src: local('Pliego Bold'), local('Pliego-Bold'),
        url('/fonts/Pliego-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-Bold.woff2') format('woff2'),
        url('/fonts/Pliego-Bold.woff') format('woff'),
        url('/fonts/Pliego-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-Medium.eot');
    src: local('Pliego Medium'), local('Pliego-Medium'),
        url('/fonts/Pliego-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-Medium.woff2') format('woff2'),
        url('/fonts/Pliego-Medium.woff') format('woff'),
        url('/fonts/Pliego-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-Book.eot');
    src: local('Pliego Book'), local('Pliego-Book'),
        url('/fonts/Pliego-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-Book.woff2') format('woff2'),
        url('/fonts/Pliego-Book.woff') format('woff'),
        url('/fonts/Pliego-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-Regular.eot');
    src: local('Pliego Regular'), local('Pliego-Regular'),
        url('/fonts/Pliego-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-Regular.woff2') format('woff2'),
        url('/fonts/Pliego-Regular.woff') format('woff'),
        url('/fonts/Pliego-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-MediumItalic.eot');
    src: local('Pliego Medium Italic'), local('Pliego-MediumItalic'),
        url('/fonts/Pliego-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-MediumItalic.woff2') format('woff2'),
        url('/fonts/Pliego-MediumItalic.woff') format('woff'),
        url('/fonts/Pliego-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-BookItalic.eot');
    src: local('Pliego Book Italic'), local('Pliego-BookItalic'),
        url('/fonts/Pliego-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-BookItalic.woff2') format('woff2'),
        url('/fonts/Pliego-BookItalic.woff') format('woff'),
        url('/fonts/Pliego-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-BoldItalic.eot');
    src: local('Pliego Bold Italic'), local('Pliego-BoldItalic'),
        url('/fonts/Pliego-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-BoldItalic.woff2') format('woff2'),
        url('/fonts/Pliego-BoldItalic.woff') format('woff'),
        url('/fonts/Pliego-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-Italic.eot');
    src: local('Pliego Italic'), local('Pliego-Italic'),
        url('/fonts/Pliego-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-Italic.woff2') format('woff2'),
        url('/fonts/Pliego-Italic.woff') format('woff'),
        url('/fonts/Pliego-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-SemiBoldItalic.eot');
    src: local('Pliego SemiBold Italic'), local('Pliego-SemiBoldItalic'),
        url('/fonts/Pliego-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/Pliego-SemiBoldItalic.woff') format('woff'),
        url('/fonts/Pliego-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Pliego';
    src: url('/fonts/Pliego-SemiBold.eot');
    src: local('Pliego SemiBold'), local('Pliego-SemiBold'),
        url('/fonts/Pliego-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Pliego-SemiBold.woff2') format('woff2'),
        url('/fonts/Pliego-SemiBold.woff') format('woff'),
        url('/fonts/Pliego-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
	--bg: #00141c;
	--fg: #013044;
	--prim: #ffc735;
	--text: #ffffff;

	background: var(--bg);
	color: var(--text);
	font-family: 'Pliego', 'Josefin Slab';
}

#root {
	margin: 0 auto;
	max-width: 100%;
	min-height: 100svh;
	width: min(1126px, 100%);

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	text-align: center;

	background: var(--fg);
	border-inline: 4px solid var(--prim);
}

body {
	margin: 0;
}

@media (max-width: 600px) {
    #root {
        border-inline: none;
    }
}